h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

div {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

figcaption {
    text-align: center;
}

.al2 {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px  
}