body {
    background-image: url("https://cdn.dribbble.com/users/739696/screenshots/4030503/tortoiseshell-1000px.jpg?compress=1&resize=800x600");
  }

h1 {
    text-align: center;
    color:chartreuse
}

h2 {
    text-align: center;
    color:chartreuse
}

p {
    text-align: center;
    color:chartreuse
}

div {
    margin: auto;
    width: 50%;
    border: 3px chartreuse;
    padding: 10px;
}

figcaption {
    text-align: center;
    color:chartreuse;
}

.al2 {
    margin: auto;
    width: 60%;
    border: 3px chartreuse;
    padding: 10px  
}

.active {
    opacity: 0.5;
}